
.title-name{
    padding-top: 5%;
    font-weight: bold;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9AC5F4;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
@media(min-width : 601px){
    #hero-icon{
        width: 40vh;
    }
}
@media (max-width : 600px) {
    #hero-icon{
        width:30%;
    }
}
.background-up{
    opacity: 0.2;
    width: 100%;
}
.hero p{
    font-size: 3vh;
}
.hero-text-div{
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 1;
}
.hero-background{
    width: 100vh;
    height: 30%;
    opacity: 1;
}
.hero-text{
    letter-spacing: 3px;
    vertical-align: middle;
    font-family: 'IM Fell English', serif;
}

/* Introduction */
.introduction{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D0F5BE;
    padding-top: 10%;
    height: 100vh;
    text-align: center;
}
.intro-text{
    padding-top: 5%;
    font-family: 'IM Fell English', serif;
}
.intro-text > p{
    font-size: large;
}
.photo{
    padding: 0px;
    margin: 0px;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}
@media (max-width :400px) {
    
    .photo{
        width : 20%;
        height: 20%;
    }
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}


/* Skills */

.skills{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Experience */
  .kla-photo{
      height: 60px;
      margin-bottom: 8px;
  }
  .designation{
      font-family : "font-family: 'Lisu Bosa', serif;";
  }
  .exp-title{
    margin-left: 5%;
  }
  @media (max-width:1000px){
    .skills{
        margin-top: 25%;
        margin-bottom: 10%;
    }
  }
/* Education */

.education h3{
    font-family: 'Lisu Bosa', serif;
}

.courses{
    font-family: 'Reem Kufi Fun', sans-serif;
}

.key-courses{
    font-family: 'PT Sans', sans-serif;
}

/* Project */
.project-icon{
    height: 50px;
    width: 50px;
    margin-right: 5%;
    float: left;
}

.description{
    font-family: 'PT Sans', sans-serif;
    padding: 4%;
}

/*Hobbies*/
.hobbies{
    height: 100vh;
    width: 100vh;
    font-family: 'IM Fell English', serif;
    padding-bottom: 15%;
}
.hobbies h3 h2{
    font-family: 'IM Fell English', serif;
}
.hobby-card{
    display: flex;
    justify-content: center;
}
.hobby-card img{
    height: 80vh;
    width: 60vh;
    border-radius: 10%;
}
.trekking{
    padding-bottom: 3%;
    padding-top: 5%;
}

.flute-video{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.flute-video video{
    padding: 10%;
    height: 100vh;
}
/* Contact */
.contactme-icon{
    height: 40px;
    width: 40px;
}
.contact-me{
    background-color: #CA4E79;
}